body {
    background-color: #f7e7d6;
    font-family: Arial, Helvetica, sans-serif;
    color: #0e333e;
    line-height: 1.8rem;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
}

header p {
    color: #508d7c;
    padding: 1rem;
}

h2 {
    font-size: 200%;
}

main {
    padding: 2rem;
    margin: 2rem;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.flex-column {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 10px;
    border: 3px dotted #508d7c;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.card h2 {
    position: realtive;
    margin-top: -25px;
    background-color: #f7e7d6;
    border: 2px solid #508d7c;
    border-radius: 8px;
    padding: 0.8rem;
    transition: all 0.5s ease-in-out;
}

.card p {
    padding: 0.8rem;
    justify-content: space-evenly;
}

.card .code {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(
        #508d7c 0%,
        #c6d8b5 100%
    );
    border-radius: 5px;
    padding: 1rem;   
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    text-align: center;
}

.card:hover,
.card:hover h2 {
    box-shadow: inset 0px 0px 8px
    #85ada0, 0 0 15px
    #386153;
}

@media screen and (min-width:768px) {
    .flex-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width:992px) {
    .flex-column {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

